{
  "branches": [
    'master',
    {name: 'main', prerelease: true, channel: 'next'}
  ],
  plugins: [
    "@semantic-release/commit-analyzer", 
    "@semantic-release/github",
    ["@semantic-release/npm", {
      npmPublish: false
    }],
    ["@semantic-release/release-notes-generator"]
  ],
  ci: false
}